@use "utils/variables" as v;

.section--app{
    padding: 3rem 0vw 6rem 0vw;
    background-color: grey;
    color: #FFFFFF;
    
    > a {
        margin-left: 6.4vw;
    }
}

@media (min-width: 1024px){
    .section--app{
        padding-bottom: 12rem;
    }
}