@use "utils/variables" as v;

.avantages{
    margin: 0 4vw;
    display: flex;
    flex-direction: column;

    > *{
        margin: 3rem 4vw 0rem 4vw;
        background-color: var(--color-bg2);
        padding: 16px 32px;
        border: solid 1px #F2F2F2;
        border-radius: 10px;
    }
}