@use "utils/variables" as v;

.header{
    background-color: var(--color-bg2);
    color: #FFFFFF;
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100%;

    &::before{
        content: "";
        height: 100vh;
        background-color: #FFFFFF;
        width: 1px;
        position: absolute;
        left: 4vw;
        top: 0;
        opacity: 0.25;
    }
    &::after{
        content: "";
        height: 100vh;
        background-color: #FFFFFF;
        width: 1px;
        position: absolute;
        right: 4vw;
        top: 0;
        opacity: 0.25;
    }

    &--offset{
        color: var(--color-text);
        height: 100%;
        position: relative;

        &::before, &::after{
            background-color: var(--color-text);
            height: 100%;
        }
    }

}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;

    &--offset{
        display: inline-block;
        margin-top: 0vh;
        height: 100%;
    }
    
    &__headline{
        margin: 0 6.4vw;
        position: relative;
        padding-bottom: 3rem;

        &::after{
            content: "";
            width: 100vw;
            background-color: #FFFFFF;
            height: 1px;
            position: absolute;
            left: -7.25%;
            bottom: -2vh;
            opacity: 0.25;
            z-index: 2;
        }
    }
    &__headline--offset{
        margin-top: 20vh;
        &::after{
           display: none;
        }
    }

    &__video{
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: -1;
            filter: brightness(60%);
            background-repeat: no-repeat;
            object-fit: cover;
            object-position: center;
        }

    &__img{

        &::before{
            content: "";
            height: 100%;
            background-color: #FFFFFF;
            width: 1px;
            position: absolute;
            left: 4vw;
            top: 0;
            opacity: 0.25;
            z-index: 1;
        }

        &::after{
            content: "";
            height: 100%;
            background-color: #FFFFFF;
            width: 1px;
            position: absolute;
            right: 4vw;
            top: 0;
            opacity: 0.25;
            z-index: 1;
        }
    }
}


.headline{
    padding: 8px 0px 32px 0px;
    width: 80vw;
}

/* IPAD */
@media (min-width: 768px){
    .header{
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: -1;
        overflow: hidden;

        &--offset{
            position: relative;
            z-index: 0;
        }
    }
    .hero{
        margin-top: 12vh;

        &--offset{
            margin-top: 0%;
            display: inline-block;
        }
    }
}

/* DESKTOP */
@media (min-width: 1024px){ 
    .hero{
        margin: 0%;
        &__headline{
            &::after{
                left: -15.8%;
            }
        }
        &__headline--offset{
            max-width: 60vw;
        }
    }
}