@use "utils/variables" as v;

.header{
    background-color: var(--color-bg);
    position: relative;

    &::before{
        content: "";
        height: 100vh;
        background-color: var(--color-text);
        width: 1px;
        position: absolute;
        left: 4vw;
        top: 0;
        opacity: 0.15;
    }
    &::after{
        content: "";
        height: 100vh;
        background-color: var(--color-text);
        width: 1px;
        position: absolute;
        right: 4vw;
        top: 0;
        opacity: 0.15;
    }
}
.hero{
    margin-top: 20vh;

    &__left{
        margin: 6.4vw;
    }
    &__right__video{
        margin-top: 10vh;
        background-repeat: no-repeat;
        object-fit: cover;
        object-position: center;
        height: 80vh;
        width: 100%;
        position: relative;

        &::before{
            content: "";
            height: 100%;
            background-color: var(--color-text-offset);
            width: 10px;
            position: absolute;
            left: 4vw;
            top: 0;
            opacity: 0.15;
            
        }
    }
}

.headline{
    padding: 8px 0px 32px 0px;
    width: 80vw;
}