@use "utils/variables" as v;

.header{
    background-color: var(--color-bg2);
    color: #FFFFFF;
    position: relative;
    z-index: 0;
    height: 100vh;
    width: 100%;
    
    &::before{
        content: "";
        height: 100vh;
        background-color: #FFFFFF;
        width: 1px;
        position: absolute;
        left: 4vw;
        top: 0;
        opacity: 0.25;
    }
    &::after{
        content: "";
        height: 100vh;
        background-color: #FFFFFF;
        width: 1px;
        position: absolute;
        right: 4vw;
        top: 0;
        opacity: 0.25;
    }
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    
    &__headline{
        margin: 0 6.4vw;
        position: relative;
        padding-bottom: 3rem;

        &::after{
            content: "";
            width: 100vw;
            background-color: #FFFFFF;
            height: 1px;
            position: absolute;
            left: -7.25%;
            bottom: -32px;
            opacity: 0.25;
            z-index: 2;
        }
    }

    &__video{
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100vw;
            z-index: -1;
            filter: brightness(60%);
            background-repeat: no-repeat;
            object-fit: cover;
            object-position: center;
            /* object position pour calbrer*/
        }
    }


.headline{
    padding: 8px 0px 32px 0px;
    width: 80vw;
}

/* IPAD */
@media (min-width: 768px){
    .header{
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: -1;
        overflow: hidden;
    }
    .hero{
        margin-top: 12vh;
    }
}

/* DESKTOP */
@media (min-width: 1250px){ 

}