@use "utils/variables" as v;

.section{
    margin-top: 9rem;
    &__title{
        padding: 0rem 4vw 3rem 4vw;
    }
    &__img{
        &--presentation{
            height: 70vh;
            width: 100vw;
            background-color: var(--color-primary);
        }
    }
    &__intro{
        margin: 0 4vw;
        text-align: center;
    }
}

