@use "utils/variables" as v;

.steps{
    margin: 0 8vw 0vw 16vw;
    margin-top: 6rem;
    
    position: relative;
    
    > *{
        margin-bottom: 6rem;
    }

    &__timeline{
        position: relative;
        :before{
            content: "";
            background-color: blue;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 85vw;
        }

        display: flex;
        flex-direction: column;
        display: inline-block;
        position: absolute;
        top: 0;
        left: -10vw;

        &__nbr{
            background-color: tomato;
            margin-bottom: 30vw;
        }
    }

    &__svg{
        background-color: var(--color-primary);
        height: 30px;
        width: 30px;
        margin-bottom: 1rem;
    }
    &__img{
        background-color: blue;
        height: 210px;
        width: 100%;
    }

}