@use "utils/variables" as v;

.steps{
    margin: 0 8vw 0vw 8vw;
    margin-top: 3rem;
    
    position: relative;
    
    &__el{
        margin-bottom: 6rem;

        &__img{
            margin-top: 1.5rem;
            height: 210px;
            width: 100%;
        }
    }

    &__svg{
        background-color: var(--color-primary);
        height: 30px;
        width: 30px;
        margin-bottom: 1rem;
    }

}

@media (min-width: 768px){ 

    .section__intro{
        max-width: 70%;
        margin: 0 auto;
    }
    .steps{
        margin: 6rem 6.4vw 0vw 6.4vw;
        max-width: 1440px;

        &__el{
            display: flex;
            align-items: center;
            margin-bottom: 108px;

            &__container{
                max-width: 50%;
            }
            &__img{
                height: 15rem;
                margin-left: 5rem;
            }
            &--tuto{
                display: flex;
                flex-direction: row-reverse;

                & .steps__el__img{ /*! CHANGE THIS */
                    margin-right: 5rem;
                    margin-left: 0%;
                    
                }
            }
        }
    }

 } 

/* DESKTOP */
 @media (min-width: 1024px){ 
        .steps__el p{
            max-width: 80%;
        }
        .steps__el__img{
            height: 288px;
        }
}

/* LARGE SCREEN */
 @media (min-width: 1500px){ 
     .steps{
        margin: 6rem auto 0vw auto;
     }
  }

