@use "utils/variables" as v;

.menu{
    &__btn{
        position: relative;
        z-index: 6;
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        height: 37px;
    }
    &__burger{
        cursor: pointer;
        path{
            fill: var(--color-text);
        }
    }
    &__darkbtn{
        cursor: pointer;
        display: none;
        background: transparent;
        border: 1px solid var(--color-text);
        color: var(--color-text);
        padding: 11px 22px;
        border-radius: 20px;
        font-family: proxima-nova,sans-serif;
    }
}

@media (min-width: 768px){ 
    .menu__darkbtn{
        display: block;
    }
 }

 @media (min-width: 1024px){ 
    .menu__darkbtn{
        color: #FFFFFF;
        border: solid 1px #FFFFFF;
    }
 }