@use "utils/variables" as v;

.menu{
    &__btn{
        position: relative;
        z-index: 1;
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        height: 37px;
    }
    &__burger{
        cursor: pointer;
        path{
            fill: var(--color-text);
        }
    }
    &__darkbtn{
        display: none;
        background: transparent;
        border: 1px solid var(--color-text);
        color: var(--color-text);
        padding: 11px 11px;
        font-family: proxima-nova,sans-serif;
    }
}