@use "utils/variables" as v;

.menu{
    &__btn{
        position: relative;
        z-index: 6;
        background: transparent;
        border: none;
        outline: none;
        padding: 0;
        height: 37px;
    }

    &__burger{
        cursor: pointer;
        path{
            fill: #FFFFFF;
        }
    }
    &__darkbtn{
        cursor: pointer;
        display: none;
        background: transparent;
        border: 1px solid var(--color-text);
        color: var(--color-text);
        padding: 11px 22px;
        border-radius: 2px;
        font-family: proxima-nova,sans-serif;

        &:hover, &:focus{
            background-color: #FFFFFF;
            color: #323232;
            transition: 0.3s;
        }
        &:active{
            background-color: #0442FF;
            color: #FFFFFF;
            transition: none;
        }
        &--offset{
            display: inline;
            padding: 5px 10px;
            font-size: 14px;
            margin-bottom: 5px;
            &:hover, &:focus{
                background-color: var(--color-text);
                color: var(--color-text-offset);
            }
            &:active{
                background-color: #0442FF;
                color: #FFFFFF;
                transition: none;
            }
        }
    }
}

@media (min-width: 768px){ 
    .menu__darkbtn{
        display: block;
        color: #FFFFFF;
        border: #FFFFFF solid 1px;

        &--offset{
            color: var(--color-text);
            border: solid 1px var(--color-text);
            padding: 11px 22px;

            &:hover, &:focus{
                background-color: #323232;
                color: #FFFFFF;
                transition: 0.3s;
            }
            &:active{
                background-color: #0442FF;
                color: #FFFFFF;
                transition: none;
            }
        }
    }
 }

 @media (min-width: 1250px){ 
    .menu__darkbtn{
        color: #FFFFFF;
        border: solid 1px #FFFFFF;

        &--offset{
            color: var(--color-text);
            border: solid 1px var(--color-text);
            padding: 11px 22px;

            &:hover, &:focus{
                background-color: #323232;
                color: #FFFFFF;
                transition: 0.3s;
            }
            &:active{
                background-color: #0442FF;
                color: #FFFFFF;
                transition: none;
            }
        }
    }
 }