@use "utils/variables" as v;

.link{
    text-decoration: none;
    color: var(--color-text);

    &--menu{
        font-size: 23px;

        &:hover{
            border-bottom: 1px solid var(--color-text);
        }
    }

    &--socials{
        width: 60px;
        height: 60px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;

        & svg{
            fill: var(--color-details);

            &:hover, &:focus{
                fill: var(--color-text);
                transition: all 0.2s;
            }
            &:active{
                fill: var(--color-state);
            }
        }
    }
    &--footer{
        &:hover, &:focus{
            border-bottom: 1px solid var(--color-text);
            padding-bottom: 2px;
        }
        &:active{
            color: var(--color-text);
            border: 0;
        }
    }
    &--btn{
        background-color: var(--color-text);
        color: var(--color-text-offset);
        padding: 10px 30px;
        border-radius: 20px;
    }
    &--cta{
        background-color: var(--color-text);
        color: var(--color-text-offset);
        padding: 10px 30px;
        border-radius: 20px; 
    }
}

@media (min-width: 768px){ 
    .link{
        &--menu{
            font-size: 17px;
        }
    }
}
@media (min-width: 1150px){ 
    .link{
        &--menu{
            &:hover{
                border-bottom:  solid 1px #FFFFFF;
            }
        }
    }
}