@use "utils/variables" as v;

 .menu{
     margin: 0px 6.4vw 0vw 6.4vw;
     padding-top: 32px;
     display: flex;
     justify-content: space-between;
     position: relative;
     z-index: 6;
     
     &::after{
        content: "";
        width: 100vw;
        background-color: #FFFFFF;
        height: 1px;
        position: absolute;
        left: -7.25%;
        top: 96px;
        opacity: 0.15;
        z-index: 0;
    }

    &--offset{
        &::after{
            background-color: var(--color-text);
        }
    }

    &__logo{
        & path{
            fill: #FFFFFF;
        }
        &--offset{
            & path{
                fill: var(--color-text);
            }
        }
    }

    &__list{
        display: none;
        list-style: none;
        z-index: 5;
    }
    
    &__item{
        margin-bottom: 18px;
    }
 }



 body[data-menu] .menu {

    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: -16px;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: var(--color-bg2);
        padding: 0 16px;
    }
    &__burger path {
        fill: var(--color-text);
    }
    &__item{
        display: flex;
        justify-content: center;
        margin-left: -32px;
    }
    &__darkbtn{
        display: flex;
        position: fixed;
        bottom: 50vw;
        right: 34%;
        z-index: 6;
        }
}

body[data-menu] .path_1{
    transform: rotate(45deg) translateX(5px) translateY(-12px);
}

body[data-menu] .path_2{
    opacity: 0;
}

body[data-menu] .path_3{
    transform: rotate(-45deg) translateX(-13px) translateY(17px);
}



/* IPAD */
@media (min-width: 768px){ 
    .menu{
        display: flex;
        align-items: center;

        &::after{
            top: 112px;
        }
        &__list{
            display: flex;
            > *{
                margin-left: 32px;
                
                &:last-child{
                    margin-right: 16px;
                }
            }
        }
        &__logo{
            margin-top: -8px;
        }
        &__btn{
            display: none;
        }
        &__darkbtn{
            margin-top: -16px;
            
            &--offset{
                margin-top: 0%;
            }
        }
        &--offset{
            display: flex;
            justify-content: space-between;
            padding: 48px 0px;
            &::after{
                top: 112px;
            }
        }
    }
} 


/* DESKTOP */
@media (min-width: 1024px){ 
    .menu{
        margin-left: 4vw;
        margin-right: 6.4vw;
        background: none;
        display: flex;
        justify-content: flex-end;

        &::after{
            left: -4.7%;
        }

        &__logo{
            position: absolute;
            left: 4vw;
            top: 3rem;
        }
        &__list{
            margin-right: 90px;
            > *{
            margin-left: 36px;
                & a{
                    color: #FFFFFF;
                }
            }
        }
    }

}