 .menu{
     margin: 32px 3.2vw 0vw 3.2vw;
     display: flex;
     justify-content: space-between;

    &__logo{
        & path{
            fill: var(--color-text);
    }
    }

    &__list{
        display: none;
        list-style: none;
    }
    &__item{
        margin-bottom: 18px;
    }
 }

 body[data-menu] .menu { //je peux faire ça ?
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: -16px;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: var(--color-bg);
        padding: 0 16px;
    }
    &__item{
        margin-left: 32px;
    }
    &__darkbtn{
        display: flex;
        position: fixed;
        bottom: 32px;
        right: 16px;
        }
}

body[data-menu] .path_1{
    transform: rotate(45deg) translateX(5px) translateY(-12px);
}

body[data-menu] .path_2{
    opacity: 0;
}

body[data-menu] .path_3{
    transform: rotate(-45deg) translateX(-13px) translateY(17px);
}
