@use "utils/variables" as v;

 .menu{
     margin: 0px 6.4vw 0vw 6.4vw;
     padding-top: 32px;
     background-color: var(--color-bg2);
     display: flex;
     justify-content: space-between;
     position: relative;
     z-index: 3;
     
     &::after{
        content: "";
        width: 100vw;
        background-color: var(--color-text);
        height: 1px;
        position: absolute;
        left: -7.25%;
        top: 96px;
        opacity: 0.15;
        z-index: 0;
    }

    &__logo{
        & path{
            fill: var(--color-text);
            z-index: 2;
    }
    }

    &__list{
        display: none;
        list-style: none;
        z-index: 5;
    }
    &__item{
        margin-bottom: 18px;
    }
 }

 body[data-menu] .menu { //je peux faire ça ?
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: -16px;
        left: 0;
        height: 100vh;
        width: 100vw;
        background: var(--color-bg);
        padding: 0 16px;
    }
    &__item{
        display: flex;
        justify-content: center;
        margin-left: -32px;
    }
    &__darkbtn{
        display: flex;
        position: fixed;
        bottom: 50vw;
        right: 39%;
        z-index: 6;
        }
}

body[data-menu] .path_1{
    transform: rotate(45deg) translateX(5px) translateY(-12px);
}

body[data-menu] .path_2{
    opacity: 0;
}

body[data-menu] .path_3{
    transform: rotate(-45deg) translateX(-13px) translateY(17px);
}

@media (min-width: 768px){ 
    .menu{
        display: flex;
        align-items: center;

        &::after{
            top: 112px;
        }
        &__list{
            display: flex;
            > *{
                margin-left: 32px;
            }

        }
        &__btn{
            display: none;
        }
        &__darkbtn{
            margin-top: -16px;
        }
    }
} 

@media (min-width: 1024px){ 
    .menu{
        margin-left: 4vw;
        margin-right: 4vw;
        background: none;
        display: flex;
        justify-content: flex-end;

        &__logo{
        }
        
        &__list{
            margin-right: 90px;
            > *{
            margin-left: 36px;
                & a{
                    color: #FFFFFF;
                }
            }
    }
 }
}