@use "utils/variables" as v;

body{
    font-family: proxima-nova,sans-serif;
    font-size: 16px;
    line-height: 1.4;
    font-weight: var(--font-regular);
    color: var(--color-text);
    background-color: var(--color-bg);
    margin: 0;
}

/* MOBILE TYPE */

.title{
    font-family: 'Darker Grotesque', sans-serif;
    line-height: 1;

    &--big{
        font-size: 51px;
        font-weight: var(--font-light);
        margin: 0;
        letter-spacing: -1px;
    }
    &--middle{
        font-size: 38px;
        font-weight: var(--font-semibold);
        margin: 0;
    }
    &--small{
        font-size: 29px;
        font-weight: var(--font-semibold);
        color: var(--color-primary);
        margin: 0;
    }
    &--bold{
        font-weight: var(--font-semibold);
    }
}

.headline{
    font-size: 16px;
    font-weight: var(--font-semibold);
}

.p-bold{
    font-size: 16px;
    font-weight: var(--font-semibold);
    font-family: proxima-nova,sans-serif;
}
.outline{
    font-size: 14px;
    font-weight: var(--font-regular);
    letter-spacing: 2%;
    text-transform: uppercase;
}

.copyright{
    font-size: 14px;
}

@media (min-width: 768px){
    body{
        font-size: 17px;
    }
    .title{
        &--big{
            font-size: 71px;
        }
        &--middle{
            font-size: 53px;
        }
        &--small{
            font-size: 40px;
        }
    }
    .headline{
        font-size: 17px;
        
    }
    .p-bold{
        font-size: 17px;
    
    }
    .outline{
        font-size: 16px;
    }
    
    .copyright{
        font-size: 14px;
    }
}